* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size:x-large;
}

footer {
  font-style: italic;
  text-align: center;
}

label, button, input {
  font-size: medium;
  text-align: center;
  align-items: center;
  align-content: center;
}

input:focus {
  height:100%;
  font-size: medium;

}

p {
  text-align: center;
  text-justify: inter-cluster;
}

#FindApp {
  text-align: left;
  margin-left: 15% !important;
}

body {
  font-size: medium;
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  box-sizing: border-box;
}



.hidden {
  display: block;

}

.app {
  width:90%;
  text-align: center;
  align-items: flex-start;
  position: relative;
  padding: 0;
  margin-left: auto;

}


nav ul {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  margin-left: auto;
}

nav ul li {
  list-style-type: none;
  margin: 0 1rem;

}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  height: 60%;
  padding: 10px;
  width: 90%;
}

li a:hover, .active {
  font-weight: 700;
} 

h1 {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 15px;
}

#chart {
  align-items: center !important;
  padding-left: 20%;
  width: 70%;
  height:50%;
}

#deletebutton {
  margin-left: 50%;
}